.main-container {
    height: 500px;
    padding-top: 20px;
    background-color: black;
    color: white;
}

.donate-btn {
    width: 180px;   
    height: 30px;
    border-radius: 10px;
    background-color: rgb(243, 226, 130);
    color: black;
    font-size: 22px;
    border: 20px;
    text-align: center;
}

.donate-logo {
    width: 200px;
}
.donate-text {
    text-align: center;
    font-size: 20px;
    color: white;
    margin-left: 30px;
    margin-right: 30px;
}