.homebackground{
    height: 600px;
    padding-top: 20px;
    background-color: black;
    color: white;
}
.h1{
    text-decoration: underline;
    color: rgb(243, 226, 130);
}
.text {
    
    text-align: justify;
    width: 67%;
    padding-left:320px;
    font-size: 20px;
    color: white;
    margin-left: 30px;
    margin-right: 30px;
   
}