.homebackground{
    height: 600px;
    padding-top: 20px;
    background-color: black;
    color: white;
    
    
}
.h1{
    display: flex;
    text-decoration:underline;
    color: rgb(243, 231, 125);
    text-align: justify;
    align-items: center;
    padding-left:340px;
}
.text {
    display: flex;
    align-items: center;
    text-align: justify;
    width: 67%;
    padding-left:300px;
    font-size: 20px;
    color: white;
    margin-left: 30px;
    margin-right: 30px;
}

.h3 {
    text-align: center;
    color: rgb(10, 123, 143);
    font-size: 20px;
}

.videos {
     display: flex;
}
.video1 {
   
    width: 560px;
    height:315;
}

.video2 {
    width: 560px;
    height:315;
}

.video3 {
    width: 560px;
    height:315;
}
.video4 {
    width: 560px;
    height:315;
}