.flex-row {
    height: 500px;
    padding-top: 20px;
    background-color: black;
    color: white;
}

button{
    width: 100px;   
    height: 50px;
    border-radius: 10px;
    background-color: rgb(243, 226, 130);
    color: black;
    font-size: 22px;
    border: 20px
}
.login-button{
    padding: 20px;
}

.link {
    font-size: 25px;
    font-weight: 450px;
}

a {
    color: rgb(185, 240, 237);
}


.card-header {
    
    font-size: 25px;
    
}

.form-input{
    font-size: 20px;
    border-width: 2px;
    border-radius: 5px;
    width: 350px;

}
